body {
    background: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.btn {
    text-decoration: none;
    padding: 5px 7px;
    border-radius: 5px;
}

input, textarea, select {
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #e9e4e4
}
label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #777;
    display: block;
}
table {
    border-collapse: collapse;
    background: #fff;
    font-size: 13px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e9e4e4;
}
.table {
    overflow: auto;
}
table tr {
    position: relative;
}
.table .edit {
    position: absolute;
    right: 25px;
    background: #fff;
    padding: 10px;
}
th {
    padding: 10px 5px;
}
 td {
    padding: 5px;
    max-width: 300px;
}

.boxed {
    margin: 80px 2% 10px;
}
hr {
    margin: 10px 0;
}

.btn {
    background: green;
    color: #fff;
    font-weight: bold;
}
.menus {
    float: right;
}
.menus a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    border: 1px solid #eee;
    padding: 5px 7px;
    font-size: 13px;
}
.menus a:hover {
    background: #0099cc;
}
.float-left {
    float: left;
}

header {
    background-color: #0099cc;
    color: #ffffff;
    padding: 15px 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 15px;
    width: 100%;
}